
/*Main*/


main{
    margin-top: 100px;
    margin-bottom: 50px;
}

.citation{
    background-color: rgba(240, 191, 128, 0.952);
    border-radius: 15%;
}

#citation1 {
    
    color: red;
    font-size: 50px;
    font-style: italic;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:10%;
    background-color: rgba(240, 191, 128, 0.952);
}
.citation2 {
    font-size: 30px;
    color: #add8e6;
    background-color: aqua;
}

.ville{
    font-size: 120%;
    padding: 5%;
    margin:5px ;
}

.art-presentation {
    display: flex;

}

.main-presentation {
    margin:10%;
    background: white;;
}
.table-ville {
    border-collapse: collapse;
    margin:5%;
    color: #345755;

}

.ville{

    width: 500px;
    height: 500px;

}

.Bienvenue {
    font-size: 100%;
    font-style: italic;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    color: #345755;
    margin-left: 7%;
}

.texte-image{
    display: flex;
    justify-content: space-between;
    
}
